* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

body {
    background-color: #121212;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    padding: 0 1rem;
}

.box-form {
    padding: 1.5rem;
    width: 480px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color:#FFFFFF;
    border-radius: 8px;
}


.login-tradicional {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-tradicional span {
    font-weight: 700;
    font-size: 2rem;
    line-height: 39px;
    color: #000000;
    margin-bottom: 1.5rem;
}

.login-tradicional input {
    width: 100%;
    height: 50px;
    border: 0;
    background-color:#E5E5E5;

    margin-bottom: 1.5rem;
    border-radius: 4px;
    padding: .9rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
}

.login-tradicional input::placeholder {
    color: #464646;
}

.login-tradicional [type="submit"] {
    height: 50px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    background-color: #000000;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
}

.login-social {
    width: 100%;
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-social span {
    font-weight: 400;
    font-size: 1rem;
    color: #464646;
    line-height: 16px;
    text-align: center;
    margin-bottom: .9rem;
}

.login-social input {
    width: 100%;
    height: 35px;
    margin-bottom: 1rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;


    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    letter-spacing: 1px;
}

.login-social .btn-twitter {
    background-color: #56A7F2;
}

.login-social .btn-facebook {
    background-color: #1E3C72;
}

.container-usuario {
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-rodape {
    position: absolute;
    bottom: 0%;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-rodape span a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
}